$font_family: "Segoe UI", sans-serif;

$white: white;
$black: black;
$persian_blue: #026aa7;
$blur_blue: rgba(255, 255, 255, 0.2);
$blur_medium_blue: rgba(255, 255, 255, 0.25);
$turtle_green: #61bd4f;
$french_blue: #0079bf;
$dawn_pink: #ebecf0;
$jasper: #dc3545;
