.add__list {
    // wrapper
    .wrapper {
      width: 18rem;
      height: 2.5rem;
      background-color: $blur_medium_blue;
      border-radius: 3px;
      @include font_style(0.875rem, 400, 1.25rem);
      text-transform: capitalize;
      color: $white;
      padding: 0.3rem 0.8rem;
      cursor: pointer;
  
      .icon {
        font-size: 1.4rem;
        margin-right: 0.4rem;
      }
    }
    //open__input--container
  
    .open__input--container {
      width: 15rem;
      background-color: $dawn_pink;
      padding: 0.4rem 0.3rem;
      border-radius: 3px;
      input {
        width: 100%;
        border: none;
        outline: none;
        box-shadow: none;
        background-color: $white;
        box-shadow: inset 0 0 0 2px #0079bf;
        border-radius: 3px;
        padding: 0.2rem 0.6rem;
        height: 2.4rem;
        @include font_style(0.875rem, 400, 1.25rem);
      }
      button {
        @include reset_button();
        background-color: $french_blue;
        border-radius: 3px;
        padding: 0;
        padding: 0.3rem 0.5rem;
        color: $white;
      }
    }
  }
  